<div class="row">
  <div class="col-3 block m-2">
    <h5>{{teamsObj.theText}}</h5>
  
    <input type="number" [(ngModel)]="quantity"/>
  
    <div class="m-2" *ngFor="let team of teamsObj.teams">
      <input name="team" type="radio" value="{{team.value}}" [(ngModel)]="value"/>
      <label class="m-1" for="team">{{team.text}}</label>
    </div>

    <button class="button-primary" (click)="onNewPurchase()">Purchase <span>({{total}})</span></button>
  </div>

  <div class="col-md block">
    <canvas baseChart 
      [data]="pieChartData" 
      [labels]="pieChartLabels" 
      [chartType]="pieChartType"
      [options]="pieChartOptions"
      [plugins]="pieChartPlugins"
      [legend]="pieChartLegend">
    </canvas>
  </div>  
</div>
<button class="button-primary"></button>